.dropdown-container {
  display: flex;
  justify-content: center;

  @media (max-width: 900px) {
    justify-content: end;
  }
}

.dropdown {
  position: absolute;
  width: 22rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  outline: none;
  font-size: 1rem;
}

.dropdown-items {
  a {
    width: auto;
    text-decoration: none;
    text-transform: none;
  }

  .divider {
    border-bottom: 1px solid #e3e3e3;
  }

  .item_not-working {
    margin: 0.6rem;
    padding: 1rem;
    width: auto;
    font-size: 1.2rem;
    background-color: #fff;
    color: #090a0b;

    .user-name {
      font-weight: 600;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: #f1f3f4;
    }
  }

  .item {
    margin: 0.6rem;
    padding: 1rem;
    width: auto;
    font-size: 1.2rem;
    background-color: #fff;
    color: #090a0b;
    cursor: pointer;

    &:hover {
      background-color: #f1f3f4;
    }
  }

  .logout-button {
    width: auto;
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;
    margin: 0.6rem;
    padding: 1rem;
    color: #f56565;
    cursor: pointer;

    &:hover {
      background-color: #ef4444;
      color: #fff;
    }
  }
}
