@import "../../index.scss";

.byline-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.byline {
  display: flex;
  gap: 1rem;

  @media (max-width: 650px) {
    padding-left: 0;
  }

  &__img img {
    height: 3.2rem;
  }

  &__text {
    display: flex;
    gap: 0.6rem;

    .author a {
      font-weight: bold;
      color: $text-11;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      text-align: left;
      text-transform: uppercase;
      color: $text-11;
      margin-bottom: 0;
    }
  }

  &__date {
    text-align: left;
    display: flex;
    gap: 1rem;
  }
}

.action-buttons {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  margin-right: 3rem;
}

.divider {
  border-left: 1px solid $text-11;
  color: $text-11;
}
