@import "../../index.scss";

.postcard-b-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 4rem 0;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
}

.postcard-b-content {
  a {
    text-decoration: none;
  }

  &__img img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;
  }

  &__text {
    @media (max-width: 800px) {
      height: auto;
    }

    h2 {
      font-size: 2.6rem;
      font-weight: 600;
      text-transform: capitalize;

      margin: 0.8rem 0;
      color: $text-color;

      @media (max-width: 800px) {
        font-size: 2.2rem;
      }
    }

    p {
      text-align: left;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      color: $text-11;

      @media (max-width: 800px) {
        font-size: 1.6rem;
      }
    }
  }
}
