// .hero-section {
//   background-color: #090a0b;
//   color: #ffff;
// }

// .pratibela-hero-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 8rem;

//   @media (max-width: 450px) {
//     padding: 4rem;
//   }

//   &__img img {
//     animation: morph 8s ease-in-out infinite;
//     background-position: 50%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border: 3px solid #2d2e32;
//     border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
//     transition: all 1s ease-in-out;
//     width: 22rem;
//     margin-bottom: 2rem;

//     @media (max-width: 450px) {
//       width: 20rem;
//     }
//   }

//   &__text {
//     text-align: center;
//     padding-bottom: 2rem;

//     span {
//       font-size: 5.2rem;
//       font-family: "Open Sans", sans-serif;

//       @media (max-width: 450px) {
//         font-size: 3.8rem;
//         line-height: 1;
//       }
//     }

//     p {
//       font-size: 2rem;
//       color: #c4c4c5;
//       font-family: "Raleway", sans-serif;

//       @media (max-width: 450px) {
//         font-size: 1.8rem;
//         line-height: 1;
//         padding-top: 1.2rem;
//       }
//     }
//   }

//   &__edit-profile {
//     margin-top: 2rem;

//     button {
//       padding: 0.6rem 1.2rem;
//       font-size: 1.4rem;
//       font-weight: 600;
//       border: none;
//       border-radius: 9999px;
//       background-color: #ff3975;
//       cursor: pointer;
//     }
//   }
// }

// @keyframes morph {
//   0% {
//     border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
//   }

//   50% {
//     border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
//   }

//   100% {
//     border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
//   }
// }

/* Blog Header */

@import "../../index.scss";

.hero-section {
  background-color: $secondary-color;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  margin: 0 8rem;

  @media (max-width: 450px) {
    margin: 0;
  }

  &__text {
    margin-bottom: 3rem;

    h1 {
      font-size: 4.6rem;
      font-weight: 600;
      color: $text-12;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      color: $text-11;
      max-width: 60rem;
    }
  }

  &__newsletter {
    display: flex;
    gap: 1rem;

    .input {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 23rem;
      height: 3rem;
      border: 1px solid;
      border-radius: 5px;
      padding: 16px 8px;
      background-color: #fff;

      &:focus {
        outline: 2px solid #5a45ff !important;
      }

      @media (max-width: 450px) {
        width: 20rem;
      }

      .email-icon {
        font-size: 2rem;
        color: #757575;
      }

      input {
        outline: none;
        border: none;
        background-color: inherit;
        font-family: "Poppins", sans-serif;
        width: 100%;
        color: #757575;
      }
    }

    button {
      cursor: pointer;
      font-size: 1.5rem;
      color: #fff;
      background-color: $text-12;
      border-radius: 5px;
      font-weight: bold;
      padding: 0 8px;
      border: none;

      &:hover {
        background-color: #2f2e2a;
      }
    }
  }
}
