.hero-section {
  background-color: #090a0b;
  color: #ffff;
}

.pratibela-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;

  @media (max-width: 450px) {
    padding: 4rem;
  }

  &__img img {
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    width: 22rem;
    margin-bottom: 2rem;

    @media (max-width: 450px) {
      width: 20rem;
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 2rem;

    span {
      font-size: 5.2rem;
      font-family: "Open Sans", sans-serif;

      @media (max-width: 450px) {
        font-size: 3.8rem;
        line-height: 1;
      }
    }

    p {
      font-size: 2rem;
      color: #c4c4c5;
      font-family: "Raleway", sans-serif;

      @media (max-width: 450px) {
        font-size: 1.8rem;
        line-height: 1;
        padding-top: 1.2rem;
      }
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Blog Header */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.blog-hero-section {
  background-color: #090a0b;
  color: #ffff;
}

.blog-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  &__text {
    text-align: center;

    h1 {
      font-size: 5.2rem;
      font-family: "Open Sans", sans-serif;
      text-transform: capitalize;
    }

    p {
      font-size: 2rem;
      color: #c4c4c5;
      font-family: "Raleway", sans-serif;
      margin-bottom: 4rem;
    }
  }
}
