@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

@import "../../index.scss";

nav {
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border: 2px dashed #e5e7eb;
}

.pratibela-nav {
  display: flex;
  height: 8rem;
  align-items: center;
  gap: 3rem;
  margin: 0 2rem;

  @media (max-width: 450px) {
    justify-content: space-between;
  }
}

.pratibela-nav__logo a {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  color: $text-color;
}

.pratibela-nav__menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.25rem;
  width: 100%;

  @media (max-width: 450px) {
  }
}

.pratibela-nav__menu ul {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  @media (max-width: 450px) {
    display: none;
  }
}

.pratibela-nav__menu li {
  list-style: none;
}

.pratibela-nav__menu li a {
  position: relative;
  color: $text-color;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.6;

  &:before {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    height: 0.1rem;
    width: 0;
    background-color: $grey-color;
    transition: all 0.35s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.menu-auth {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  font-size: 1.2rem;
}

.menu-auth a {
  display: flex;
  align-items: center;
  color: $text-color;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &:hover:before {
    width: 100%;
  }
}

.menu-auth span {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.menu-auth__user-actions {
  display: flex;
  gap: 0.4rem;
}

.menu-auth__user-actions a {
  text-decoration: none;
  color: inherit;

  &:hover:before {
    content: none;
  }
}

.menu-auth__user-actions button {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  color: $primary-color;
  background-color: #2f2e2a;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background-color: $text-12;
  }
}
