.pratibela-footer {
  color: rgba(255, 255, 255, 0.7);
  background: #090a0b;
}

.pratibela-footer-content {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  @media (max-width: 450px) {
    flex-direction: column;
  }

  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.pratibela-footer-list {
  display: flex;

  a {
    margin-left: 20px;

    &:first-of-type:before {
      display: none;
    }
  }
}
