.pratibela-footer {
  padding-top: 20px;
  padding-bottom: 60px;
  color: rgba(255, 255, 255, 0.7);
  background: #090a0b;
}

.pratibela-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.pratibela-footer-list {
  display: flex;

  a {
    margin-left: 20px;

    &:first-of-type:before {
      display: none;
    }
  }
}

.pratibela-footer__website-creator {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: #fff;
    }
  }
}
