.pratibela-footer {
  color: #191b1f;
  background-color: #ecf4e5;
}

.pratibela-footer-content {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  text-decoration: none;

  @media (max-width: 450px) {
    flex-direction: column;
  }

  a {
    color: #191b1f;
    text-decoration: none;
    font-weight: 600;
  }
}

.pratibela-footer-list {
  display: flex;

  a {
    margin-left: 20px;

    &:first-of-type:before {
      display: none;
    }
  }
}
