@import "../../index.scss";

.byline-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.byline {
  display: flex;
  gap: 1rem;

  @media (max-width: 650px) {
    padding-left: 0;
  }

  &__img img {
    height: 3.2rem;
  }

  &__text {
    .author a {
      text-transform: uppercase;
      color: $text-color;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      text-align: left;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: $text-color;
      margin-bottom: 0;
    }
  }

  &__date {
    text-align: left;
    display: flex;
    gap: 1rem;
  }
}

.action-buttons {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  margin-right: 3rem;
}
