@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* variables */
$primary-color: #ffffff;
$secondary-color: #f9f9f8;
$text-12: #21201c;
$text-11: #080800a1;
$text-color: #21201c;
$divider-color: #738a94;
$button-color: #26a8ed;
$secondary-button-color: #ff3975;
$grey-color: grey;
$green-color: #10b981;
$red-color: #ef4444;

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: "Poppins", sans-serif;
}

body.padding-top {
  padding-top: 60px;
}

.container {
  max-width: 108rem !important;
  margin: 0 auto !important;
  padding: 0 2rem !important;
  border-left: 2px dashed #e5e7eb;
  border-right: 2px dashed #e5e7eb;

  @media (max-width: 450px) {
    border: none;
  }

  @media (max-width: 1080px) {
    border: none;
  }
}

.custom-toast {
  font-size: 1.4rem;
}
