@import "../../../index.scss";

.modal-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $primary-color;
  color: $text-color;
  padding: 14px 28px;
  border-radius: 3px;

  .modal-content {
    line-height: 1.4;
    width: 60rem;
    height: auto;

    .modal-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
      }

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .modal-body {
      margin: 2rem 0;

      .photo-section {
        font-size: 1.4rem;
        color: $grey-color;
        margin-bottom: 1rem;
      }

      .photo-container {
        display: flex;
        gap: 2rem;

        .photo {
          width: 7rem;
          height: 7rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9999px;
            border: 1px solid $grey-color;
            display: inline-block;
          }
        }

        .photo-actions {
          max-width: 30rem;

          &__buttons {
            display: flex;
            gap: 2.5rem;

            button {
              font-size: 1.4rem;
              font-family: 500;
              background: none;
              border: none;
              cursor: pointer;
              padding: 0;

              &.update {
                color: $green-color;
              }

              &.remove {
                color: $red-color;
              }
            }
          }

          .photo-note {
            margin-top: 1.4rem;
            font-size: 1.4rem;
            color: $grey-color;
          }
        }
      }
    }

    .modal-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
      }

      input {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1px solid $text-color;
        outline: none;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        background-color: $primary-color;
      }

      .input-note {
        font-size: 1.4rem;
        color: $grey-color;
      }
    }

    .modal-foot {
      display: flex;
      justify-content: end;
      gap: 1rem;
      margin-top: 2rem;

      button {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
        border-radius: 9999px;
        cursor: pointer;

        &.cancel {
          color: $secondary-button-color;
          background-color: $primary-color;
          border: 1px solid $secondary-button-color;
        }

        &.save {
          background-color: $secondary-button-color;
          color: $primary-color;
          border: 1px solid $secondary-button-color;
        }
      }
    }

    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px 7px;
    }
  }
}
