@import "../../index.scss";

.preview-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.preview-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-color;
  color: $text-color;
  padding: 3rem 4rem;
  border-radius: 3px;
  z-index: 1000;
}

.preview-content {
  line-height: 1.4;
  width: 70rem;
  height: auto;

  @media (max-width: 450px) {
    max-width: 27rem;
  }
}

.preview-head {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    border-radius: 2px;
    border: none;
    font-size: 2rem;
  }
}

.preview-image {
  display: flex;
  position: relative;

  .img {
    height: 20rem;
    width: 36rem;
    background-color: #f3f4f6;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-bottom: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
.preview-title {
  margin-bottom: 2rem;

  label {
    font-size: 1.8rem;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid $text-color;
    font-size: 2.4rem;
    height: 3rem;
  }
}

.preview-note p {
  font-size: 1.2rem;
}

.preview-button {
  display: flex;
  justify-content: end;
  margin-top: 2rem;

  .publish {
  }
}
